---
interface Props {
    currentPath?: string;
}
---

<header class="max-w-7xl mx-auto px-6 md:px-12  mb-16 border-b-2 border-slate-100 pb-12">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-end gap-10">
        <div class="max-w-2xl">
            <h1 class="font-['Bricolage_Grotesque'] text-7xl md:text-8xl font-extrabold mb-6 tracking-tight leading-[0.9] text-slate-900 dark:text-white">
                Flow Focused
            </h1>
            <p class="text-xl text-secondary leading-relaxed font-medium max-w-xl">
                A digital garden mapping the intersection of
                <span class="text-blueprint-blue italic">Systems Thinking</span> and
                <span class="text-blueprint-blue italic">Continuous Flow</span>.
            </p>
        </div>
        <slot name="heatmap" />
    </div>
</header>
