---
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-slate-200 dark:border-slate-800 py-12 mt-20">
    <div class="max-w-7xl mx-auto px-6 text-center">
        <p class="text-sm text-slate-400 font-medium">© {currentYear} Malcolm Bastien</p>
    </div>
</footer>
