---
const currentYear = new Date().getFullYear();
---

<footer class="site-footer">
    <div class="site-footer-inner">
        <div class="site-footer-text">
            &copy; {currentYear} Malcolm Bastien.
        </div>
    </div>
</footer>
